body{
    margin: 0 !important;
    padding-top: 20px;
    padding: 20px;
}

nav > .navigation{
    margin: 10px;
    margin-top: 70px;
    width: 1100px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
    background-color: gold;
}

.navigation div{
    height: 30px;
    width: 60px;
    display: inline-block;
    text-align: center;
    background-color: green;
    color: white;
}

.navigation .login{
    float: right;
}

.navigation .dashboard{
    width: 130px;
}

.navigation .planning{
    width: 130px;
}

.navigation .chat{
    width: 130px;
}

.box-g {
    display: flex;
    border: 1px solid white;
    margin: 30px;
    margin-top: 10px;
    width: 1000px;
    height: 650px;
    box-sizing: border-box;
    justify-content: center;
}

nav  p{
    margin-top: 35px;
}

.menu{
    width: 150px;
    height: 600px;
    display: flex;
    border: solid 1px black;
    background-color: gold;
}

.menu div{
    height: 50px;
    position: absolute;
    width: 150px;
    margin-top: 30px;
    background-color: green;
    color: white;
}

.menu > p{
    margin-top: 100px;
    color: green;
}

.menu .user_interface{
    margin-top: 150px;
}

.footer{
    width: 1075px;
    height: 50px;
    background-color:gold;
    color: green;
}
div {
    display: flex;
    border: 1px solid black;
    margin: 30px;
    margin-top: 10px;
    width: 600px;
    height: 600px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}
.container{
    background-color:gold;
}

.container div{
    width: 130px;
    height: 130px;
    background-color:green;
    color: white;
}

.container .last_message_w{
    width: 330px;
}

.container .file_explore_w{
    height: 350px;
}

.container .add_w, .drop_drap{
    position: absolute;
}

.container .add_w{
    margin-top: 360px;
}

.container .drop_drap{
    margin-top: 360px;
    margin-right: 420px;
}


/* ECRANS LARGEUR SUP A 600PX*/
@media (max-width:600px){
    nav > .navigation{
        display: none;
    }

    .menu {
        display: none;
    }

    .footer{
        display: none;
    }

}